body {
  background-color: #000000b6;
}
.card{
  /* height: 142px; */
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border:1px solid white;
    border-radius: 0.4rem;
    justify-content: center;
    box-shadow: 9px 20px 10px black;
}
.pagination{
  justify-content: center;
    color: white;
    font-size: 1.3rem;
}
.pagination > li {
   padding: 0.3em 0.28em;
   margin: 0.3em 0.28em;
  }
  .linkPage:hover {
  background-color: #f44336;
}
.pagination > li > a{
  text-decoration: none;
  color: #fff;
  padding: inherit;
}
.previous:hover{
  background-color: #f44336;
}

.next:hover{
  background-color: #f44336;
}
.active{
  background-color: #f44336;
}
.disabled > a{
  cursor:default;
}
.com{
  margin: 0.2rem 0.6rem;
  padding: 0.2rem;
}
.viewDetail{
  align-self: center;
  margin: 0.2rem 0.6rem;
  padding: 0.2rem;
  cursor:pointer;
  background-color: #f44336;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  padding: 0.2em 0.8em;
}
.dataDiv{
  width: -webkit-fill-available;
    justify-content: space-between;
    padding:inherit;
}
.expandedData{
 margin-right: 4rem;
}
